html, body {
	margin: 0;
  	padding: 0;
}

Body{
	background-image: url("bg3.jpeg");
	background-size: 80%;
	background-position: 300px 200px;
	background-repeat: no-repeat;
}
.heading{
	padding: 0px 0px 0px 60px;
	font-family: Helvetica Neue;
	color: #2e2e2e;
}
.heading h1{
	font-size: 30px;
}


.bar {
	background-image: url("bar_2.jpg");
	background-size: 100%;
	overflow: hidden;
	padding-left: 30px;
	background-color: white;
	
}
.bar a{
  	float: left;
  	color: white;
  	text-align: center;
  	padding: 14px 30px;
  	text-decoration: none;
  	font-size: 20px;	
	display: inline-block;
	transition: background 0.5s;
}

.bar a:hover{
	color: #2e2e2e;
}
.bar a:visited{
	color: white;
}


.intro{
	margin-left: 60px;
	font-family: Helvetica Neue;
	margin-top: 70px;

	font-size: 25px;
}

.data{
	margin-left: 60px;
	font-family: Helvetica Neue;
	margin-top: 70px;

	font-size: 25px;
}



.data a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}








